@model netcore.Models.Invoice.CustomerInvoice

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
}



<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.invoiceNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.invoiceNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.invoiceDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.invoiceDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.invoiceReference)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.invoiceReference)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dueDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.noteToRecipient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.noteToRecipient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.termsAndCondition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.termsAndCondition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.subTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.subTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.taxAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.taxAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.discount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.discount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.shipping)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.shipping)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.grandTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.grandTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isPaid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isPaid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.createdAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.customer.customerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.myCompany)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.myCompany.companyName)
        </dd>
    </dl>
    
</div>
